@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.center {
  display: flex;
  justify-content: center;
}

.card-entry {
  max-width: 400px;
  width: 30%;
  margin: 10px auto;
}

mat-card-content table tr td div {
  margin-bottom: 5px;
}

.cards-list .mat-card {
   display: inline-block ;
   margin: 0.3%;
}
